#ALEXA-WRAPPER {
  display: flex;
  margin-left: 10px;
  align-items: center;
}

#ALEXA-WRAPPER.hidden {
  display: none
}

#ALEXA_STATUS {
  width: 100px;
  height: 70px;
  background-size: 70%;
  background-repeat: no-repeat;
}

#ALEXA_STATUS.notInitialized {
  background-image:url('./resources/connecting.gif');
}

#ALEXA_STATUS.Busy {
  background-image:url('./resources/speak.gif');
}

#ALEXA_STATUS.Ready {
  background-image:url('./resources/online.gif');
}

#ALEXA_STATUS.Start{
  background-image:url('./resources/start.gif');
}

#ALEXA_STATUS.Stop{
  background-image:url('./resources/busy.gif');
}

#ALEXA_STATUS.Speak {
  background-image:url('./resources/start.gif');
}

#ALEXA_STATUS.Error {
  background-image:url('./resources/error.gif');
}

#ALEXA_STATUS.BusyByGoogle {
  background-image:url('./resources/busyByGoogle.gif');
}

#ALEXA_ICONS {
  width: 110px;
  height: 52px;
  display: flex;
}

#ALEXA_ICONS_ALEXA {
    background-image: url(./resources/Alexa.png);
    background-size: 100%;
    width: 50px;
    height: 52px;
    background-repeat: no-repeat;
}

#ALEXA_ICONS_ALEXA.busy {
  filter:brightness(50%) grayscale(75%);
}

#ALEXA_ICONS_GOOGLE {
    background-image: url(./resources/Google.png);
    background-size: 100%;
    width: 50px;
    height: 52px;
    background-repeat: no-repeat;
    margin-right: 10px;
}

#ALEXA_ICONS_GOOGLE.hidden {
  display: none
}

#ALEXA_ICONS_GOOGLE.busy {
  filter:brightness(50%) grayscale(75%);
}
